$font-family: "PT Sans", sans-serif;
$second-family: "Bebas Neue", sans-serif;

$bg-color: rgb(229, 229, 229);
$color-primary: #42567a;
$color-pink: #ef5da8;
$color-purple: #5d5fef;
$color-blue: #3877ee;
$color-border: rgba(66, 86, 122, 0.1);
